---
layout: basic_page
title: Archive
permalink: /page/archive/
---
<br>
<div class="section-title">
                <h2><span>Archive</span></h2>
            </div>

<div class="content">
	{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li>
		<a href="{{ post.url }}">
		{{ post.title }}
		<small>{{ post.date | date_to_string }}</small>
		</a>
	</li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}

</div>
